<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="header">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" th:href="@{/}"  href="#">blogux</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse offcanvas-collapse open" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li th:class="${home.activetab.equals('timeline-my' )} ? ('nav-item active') : ('nav-item')">
            <a class="nav-link" th:href="${home.isself} ? @{/} : (@{/user/} + ${user.username})">
              <th:block th:utext="${home.isself} ? ('My Timeline     ') : (${user.username}+'\'s Timeline     ')"/>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li th:class="${home.activetab.equals('timeline-gl' )} ? ('nav-item active') : ('nav-item')">
            <a class="nav-link" th:href="${home.isself} ? @{/?action=showGlobal} : (@{/user/} + ${user.username} + @{'?action=showGlobal'})" href="#" >Global Timeline</a>
          </li>
          <li th:class="${home.activetab.equals('followers' )} ? ('nav-item active') : ('nav-item')">
            <a class="nav-link" th:href="${home.isself} ? @{/(action=showFollowers)} : (@{/user/} + ${user.username} + @{'?action=showFollowers'})" href="#">
              <th:block th:utext="${home.isself} ? ('My Followers     ') : (${user.username}+'\'s Followers     ')"/>
              <span class="badge badge-pill bg-light align-text-bottom" style="color:black">
                <th:block th:utext="${home.isself} ? (${home.getCurrentUser().getFollowers().size()}) : (${user.getFollowers().size()})"/>
              </span>
            </a>
          </li>
          <li th:class="${home.activetab.equals('follows' )} ? ('nav-item active') : ('nav-item')">
            <a class="nav-link" th:href="${home.isself} ? @{/(action=showFollows)} : (@{/user/} + ${user.username} + @{'?action=showFollows'})" href="#">
              <th:block th:utext="${home.isself} ? ('My Follows     ') : (${user.username}+'\'s Follows     ')"/>
              <span class="badge badge-pill bg-light align-text-bottom" style="color:black">
                <th:block th:utext="${home.isself} ? (${home.getCurrentUser().getFollows().size()}) : (${user.getFollows().size()})"/>
              </span>
            </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/}" th:object="${home}" method="post">
          <input class="form-control mr-sm-2" th:field="*{srcPattern}" type="text" placeholder="Search" aria-label="Search">
          <button name="action" value="search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
          <li th:class="${home.activetab.equals('settings' )} ? ('nav-item active') : ('nav-item')">
            <a th:href="@{/(action='toSettings')}" class="nav-link" >Settings</a>
          </li>
          <li class="nav-item">
            <a th:href="@{/logout}" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <th:block th:switch="${home.isself} and ${home.activetab.equals('timeline-my')} ">
      <div th:case="true">
          <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a th:class="${home.activetab.equals('timeline-meandfollows')} ? ('nav-item nav-link active') : ('nav-item nav-link')" th:href="@{/(action='timeline-meandfollows')}">My and Follows Posts
                  <span class="badge badge-pill bg-dark align-text-bottom">0</span>
                </a>
                <a th:class="${home.activetab.equals('timeline-my')} ? ('nav-item nav-link active') : ('nav-item nav-link')" th:href="@{/(action='timeline-my')}">My Posts
                  <span class="badge badge-pill bg-dark align-text-bottom">0</span>
                </a>
                <a th:class="${home.activetab.equals('timeline-myfollows')} ? ('nav-item nav-link active') : ('nav-item nav-link')" th:href="@{/(action='timeline-myfollows')}">Follows Posts
                  <span class="badge badge-pill bg-dark align-text-bottom">0</span>
                </a>
              </div>
            </div>
          </nav>
      </div>
    </th:block>
  </div>
</html>
