<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="settings">
  <form th:object="${userProfile}"
    method="post" th:action="@{/}" >

     <div class="form-group">
       <label for="fnameInput">First name</label>
       <input th:field="*{firstname}" type="text" class="form-control" id="fnameInput" placeholder="Max">
     </div>
     <div class="form-group">
       <label for="lnameInput">Last name</label>
       <input th:field="*{lastname}" type="text" class="form-control" id="lnameInput" placeholder="Mustermann">
     </div>
     <div class="form-group">
       <label for="emailInput">Email address</label>
       <input th:field="*{mail}" type="email" class="form-control" id="emailInput" placeholder="blogux@example.com">

    <div class="form-group">
      <label for="emailInput">Bio</label>
      <textarea th:field="*{bio}" class="form-control" rows="5" ></textarea>
    </div>

    <button name="action" value="saveSettings"
     class="btn btn-lg btn-primary btn-block" type="submit">Save account settings</button>
  </form>
</div>
</html>
