<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="signup_form">
  <form class="form-signin" action="#" th:object="${login}"
    method="post" th:action="@{/login}" >
    <img class="mb-4" th:src="@{/images/fly.png}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <input type="text" class="form-control"
      placeholder="Username" required="" th:field="*{name}">
    <div class="checkbox mb-3"></div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control"
     placeholder="Enter new password" th:field="*{pwd}" required="">
   <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" th:field="*{pwdConfirm}"
      class="form-control" placeholder="Repeat password" required="">
    <div class="checkbox mb-3">

    </div>
    <button name="action" value="signup" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <button th:onclick="|window.location.href='@{/login}'|" class="btn btn-lg btn-warning btn-block" type="button">Back</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>
</html>
