<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="timeline">
    <div class="my-3 p-3 bg-white rounded box-shadow container-fluid">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent posts</h6>
        <div th:if="${home.pagesAmount} gt '1'">
          <ul class="pagination">
           <li class="page-item" th:each="pageIdx : ${#numbers.sequence(1, home.pagesAmount)}"
            th:classappend="(${param.page != null} and ${#strings.equals(param.page[0], #strings.toString(pageIdx))}) ? 'active' : ''">
             <th:block th:switch="${home.activetab}">
               <div th:case="timeline-my">
                 <a th:href="@{''(page=${pageIdx})}" th:text="${pageIdx}" class="page-link"/>
               </div>
               <div th:case="timeline-myposts">
                 <a th:href="@{''(action=timeline-myposts, page=${pageIdx})}" th:text="${pageIdx}" class="page-link"/>
               </div>
               <div th:case="timeline-myfollows">
                 <a th:href="@{''(action=timeline-myfollows, page=${pageIdx})}" th:text="${pageIdx}" class="page-link"/>
               </div>
               <div th:case="timeline-gl">
                 <a th:href="@{''(action=showGlobal, page=${pageIdx})}" th:text="${pageIdx}" class="page-link"/>
               </div>
             </th:block>
           </li>
          </ul>
        </div>
        <th:block th:each="p : ${plist}">
          <div class="media text-muted pt-3">
            <th:block th:switch="${#strings.isEmpty(p.profilePicture)}">
              <div th:case="true">
                <img class="mb-4" th:src="@{/images/placeholder.png}" alt="" width="45" height="45">
              </div>
              <div th:case="false">
                <img class="mb-4" th:src="@{${p.profilePicture}}" alt="" width="45" height="45">
              </div>
            </th:block>

            <p class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">
                <a style="text-decoration:none" th:href="(@{/user/} + ${p.getAuthor()})">
                  <th:block th:utext="'@'+${p.getAuthor()}"/>
                </a>
              </strong>
              <th:block th:utext="${p.getText()}"/>
            </p>
            <p class="text-right font-weight-light" th:text="${p.getDatetime()}"></p>
          </div>
        </th:block>
      <div th:if="${plist.size()} eq '0'">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <div th:if="(${home.activetab} eq 'timeline-my') or (${home.activetab} eq 'timeline-myposts')">
              <h1 class="display-4">Nothing to feed from</h1>
              <p class="lead" th:text="${home.isself} ? 'Take a chance and publish a post :)' : 'User hasn\'t published a post yet :('"></p>
            </div>
            <div th:if="${home.activetab} eq 'timeline-myfollows'">
              <h1 class="display-4">Nothing to feed from</h1>
              <p class="lead">Come along and follow people from blogux
                <a style="text-decoration:none" th:href="${home.isself} ? @{/(action=showGlobal)} : (@{/user/} + ${user.username} + @{'?action=showGlobal'})">
                community</a> :)
              </p>
            </div>
            <div th:if="${home.activetab} eq 'timeline-gl'">
              <h1 class="display-4">No Posts yet...</h1>
              <p class="lead">Take a chance and post something :)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
