<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="userlist">
    <div class="my-3 p-3 bg-white rounded box-shadow container-fluid">
      <th:block th:switch="${home.activetab}">
        <div th:case="search">
          <h6 class="border-bottom border-gray pb-2 mb-0">Users found:</h6>
        </div>
        <div th:case="follows">
          <h6 class="border-bottom border-gray pb-2 mb-0">Follows list:</h6>
        </div>
        <div th:case="followers">
          <h6 class="border-bottom border-gray pb-2 mb-0">Followers list:</h6>
        </div>
      </th:block>
      <div th:if="${home.pagesAmount} gt '1'">
        <ul class="pagination">
         <li class="page-item" th:each="pageIdx : ${#numbers.sequence(1, home.pagesAmount)}"
          th:classappend="(${param.page != null} and ${#strings.equals(param.page[0], #strings.toString(pageIdx))}) ? 'active' : ''">
           <th:block th:switch="${home.activetab}">
             <div th:case="search">
               <a th:href="@{''(page=${pageIdx})}" th:text="${pageIdx}" class="page-link"/>
             </div>
             <div th:case="follows">
               <a th:href="@{''(action=showFollows, page=${pageIdx})}" th:text="${pageIdx}" class="page-link"/>
             </div>
             <div th:case="followers">
               <a th:href="@{''(action=showFollowers, page=${pageIdx})}" th:text="${pageIdx}" class="page-link"/>
             </div>
           </th:block>
         </li>
        </ul>
      </div>
      <th:block th:each="us : ${ulist}">
        <div class="media text-muted pt-3">
          <strong class="d-block text-gray-dark">
            <a style="text-decoration:none" th:href="(@{/user/} + ${us})">
              <th:block th:utext="'@'+${us}"/>
            </a>
          </strong>
        </div>
      </th:block>
    </div>
  </div>
</html>
