<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/fly.png}">

    <title>blogux:: micro-blogging platform</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.13.0-next/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/offcanvas.css}" />
  </head>

  <body class="bg-light">
    <div class=header_container>
      <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    </div>

    <div class="container">
      <th:block th:switch="${home.activetab}">
        <div th:case="timeline-my">
          <!--/*/ <th:block th:include="fragments/profile :: profile"></th:block> /*/-->
          <div class=timeline-my-cont>
            <th:block th:switch="${home.isself}">
              <div th:case="true">
                <!--/*/ <th:block th:include="fragments/newpost :: newpost"></th:block> /*/-->
              </div>
            </th:block>
            <!--/*/ <th:block th:include="fragments/timeline :: timeline"></th:block> /*/-->
          </div>
        </div>
        <div th:case="settings">
          <div class=settings-cont>
          <!--/*/ <th:block th:include="fragments/settings :: settings"></th:block> /*/-->
          </div>
        </div>
      </th:block>
    </div>

    <!-- Bootstrap core JavaScript
      ================================================== -->
  	<!-- Placed at the end of the document so the pages load faster -->


  </body>
</html>
