<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/fly.png}">

    <title>blogux:: micro-blogging platform</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.13.0-next/dist/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/offcanvas.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/blogux.css}" />
  </head>

  <body class="bg-light">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="container-fluid">
      <th:block th:switch="${home.activetab.matches('timeline-my.*')} ">
        <div th:case="true">
            <th:block th:switch="${home.isself} and ${!home.activetab.equals('timeline-myfollows')}">
              <div th:case="true">
                <div class="row">
                  <div class="col-xs-3 col-md-3">
                    <!--/*/ <th:block th:include="fragments/profile :: profile"></th:block> /*/-->
                  </div>
                  <div class="col-xs-9 col-md-9">
                    <div class="container-fluid">
                      <div class="row">
                      <!--/*/ <th:block th:include="fragments/newpost :: newpost"></th:block> /*/-->
                      </div>
                      <div class="row">
                      <!--/*/ <th:block th:include="fragments/timeline :: timeline"></th:block> /*/-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div th:case="false">
                <div class="row">
                  <div class="col-xs-3 col-md-3">
                    <!--/*/ <th:block th:include="fragments/profile :: profile"></th:block> /*/-->
                  </div>
                  <div class="col-xs-9 col-md-9">
                    <!--/*/ <th:block th:include="fragments/timeline :: timeline"></th:block> /*/-->
                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </div>
      </th:block>
      <th:block th:switch="${home.activetab}">
        <div th:case="timeline-gl">
          <div class="row">
            <!--/*/ <th:block th:include="fragments/timeline :: timeline"></th:block> /*/-->
          </div>
        </div>
        <div th:case="search">
          <div class="row">
            <!--/*/ <th:block th:include="fragments/userlist :: userlist"></th:block> /*/-->
          </div>
        </div>
        <div th:case="settings">
          <div class="row">
            <div class="col-xs-3 col-md-3">
              <!--/*/ <th:block th:include="fragments/profile :: profile"></th:block> /*/-->
            </div>
            <div class="col-xs-9 col-md-9">
              <!--/*/ <th:block th:include="fragments/settings :: settings"></th:block> /*/-->
            </div>
          </div>
        </div>
        <div th:case="follows">
          <div class="row">
            <!--/*/ <th:block th:include="fragments/userlist :: userlist"></th:block> /*/-->
          </div>
        </div>
        <div th:case="followers">
          <div class="row">
            <!--/*/ <th:block th:include="fragments/userlist :: userlist"></th:block> /*/-->
          </div>
        </div>
      </th:block>
    </div>

    <th:block th:include="fragments/notificationBox :: notificationBox"></th:block>

    <script th:inline="javascript">
      /*<![CDATA[*/
      var stompClient = null;
      connect();

      function sendSTOMP() {
        if (stompClient != null){
         var currentUser = /*[[${home.currentUser.username}]]*/;
         var currentMsg = $("#comment").val();
         console.log(currentUser);

         stompClient.send("/app/newpost", {}, JSON.stringify({'name': currentUser,
           'msg': currentMsg}));
        }
      }

      function connect() {
        var followsSet = /*[[${home.currentUser.follows}]]*/;
        var socket = new SockJS('/bloguxSocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
           console.log('Connected: ' + frame);
           for (var i in followsSet) {
             stompClient.subscribe('/topic/'+followsSet[i], function (notify) {
               var sender = JSON.parse(notify.body).sender;
               var body = JSON.parse(notify.body).body;
               var notif = "<div class='alert alert-warning alert-dismissible fade show' role='alert'><h4 class='alert-heading'><strong>@"+sender+"</strong> is buzzing...</h4>"+body+"<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>";
               $('#notificationList').append( notif );
             });
           }
        });
      }

      /*]]>*/
    </script>



    <!-- Bootstrap core JavaScript
      ================================================== -->
  	<!-- Placed at the end of the document so the pages load faster -->
    <script>
    $(function () {
      'use strict'

      $('[data-toggle="offcanvas"]').on('click', function () {
        $('.offcanvas-collapse').toggleClass('open')
      })
    })
    </script>


  </body>
</html>
